<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jeeva</title>
  
  <style>
    img {
      float: right;
    }

    .c2 {
      padding-left: 50px;
    }
  
    .e1 {
      height: 15px;
    }
    
    .e2 {
      height: 20px;
    }  
    * {
      background-color: black;
    }
     
  </style>
</head>
<body>
  <table>
    <tbody>
      <tr class="r1">
        <td colspan="2"><img src="./1.png" alt=""></td>
        
      </tr>
      <tr class="e1">
      </tr>
      <tr>
        <td colspan="2"><img src="./2.png" alt=""></td>
        <td class="c2"><img src="./3.png" width="274" height="225" alt=""></td>
      </tr>
      <tr class="e2">
      </tr>
      </tr>
      <tr>
        <td><img src="./4.png" alt=""></td>
        <td rowspan="3"><img src="./5.png" alt=""></td>
        <td class="c2" rowspan="3"><img src="./6.png" alt=""></td>
      </tr>
      <tr>
        <td><img src="./7.png" alt=""></td>
      </tr>
      <tr>
        <td><img src="./8.png" alt=""></td>
      </tr>
    </tbody>
  </table>
</body>
</html>